.App {
 font-family: 'Karla', sans-serif;
 font-family: "proxima sans";
/* font-family: 'Raleway', sans-serif; */
}

.full-width {
  grid-column: 1/ -1;
  /* grid-row: ; */
}

.partial-width {
  grid-column: 2/5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
  background: transparent;
}
button:active{
  transform: scale(1.1);
}


ul {
  list-style-type: none;
}

@media (max-width: 1000px) {
  .partial-width {
    grid-column: 1/-1;
    padding: 0 5rem;
  }
}
@media (max-width: 700px) {
  .partial-width {
    grid-column: 1/ -1;
    padding: 0 3rem;
  }
}

@media (max-width: 500px) {
  .partial-width {
    grid-column: 1/ -1;
    padding: 0 1rem;
  }
}