.full-width {
  grid-column: 1/ -1;
  /* grid-row: ; */
}

.partial-width {
  grid-column: 2/5;
  max-width: 1400px;
}
.desc {
  font-size: 24px;
}

.title {
  font-size: 24px;
  font-weight: 500;
}
.mobile-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  justify-items: center;
}

.grey-text{
  font-size: 18px;
  color: var(--grey);
  font-weight: 500;
}

.section-title {
  font-size: 30px;
  font-weight: 400;
  margin: 0 auto 2rem;
  text-align: center;
}
.small-text {
  font-size: 14px;
}
.heading3 {
  font-size: 18px;
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
  background: transparent;
}
button:active {
  transform: scale(1.1);
}

ul {
  list-style-type: none;
}

@media (max-width: 1100px) {
  .partial-width {
    grid-column: 1/-1;
    padding: 0 5rem;
  }
}
@media (max-width: 850px) {
  .partial-width {
    grid-column: 1/ -1;
    padding: 0 2rem;
  }
}
@media (max-width: 650px) {
  .mobile-items {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 3rem;
  }
}
@media (max-width: 500px) {
  .partial-width {
    grid-column: 1/ -1;
    padding: 0 1rem;
  }
}
