.App {
   font-family: 'proxima sans';
   
}

.full-width{
  grid-column: 1/ -1;  
  /* grid-row: ; */
}

.partial-width{
  grid-column: 2/5;
}
/* @media(max-width:800px){
  .partial-width{
  width: 70%; 
}  
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   
}






