body {
  margin: 0;
  font-family: 'karla', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --light-blue:#33A0FF;
  --whitish-grey:#f4f7f170;
  --grey:#c1c8ce;
  --background-grey:#f4f0f055;
  --pink: #ff4252;
}


.border{
  border: 1px solid red;
}
.container{
  max-width: 1400px;
  margin: 0 auto;
}

select {
    border: 1px solid var(--grey);
    font-weight: 200;
    letter-spacing: -1px;
    transition: 0.1s;
    text-align: left;
    width:5rem;
    background-color: transparent;
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    letter-spacing: inherit; /* 2 */
    background-size: 1rem;
    padding: 0.25em 0.375em;
  }
 select:focus {
    outline: none;
  }
  .select-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }


