body {
  margin: 0;
  font-family: 'karla', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body{
  --light-blue:#33A0FF;
  --whitish-grey:#f4f7f170;
  --grey:#c1c8ce;
}

.border{
  border: 1px solid red;
}
.container{
  max-width: 1400px;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

